In [378]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import geopandas as gpd
import folium
import seaborn as sns

pd.set_option('display.max_rows', None)

In [379]:
df_REC_database = pd.read_csv('data/wholeRECdatabase_20230816_no_dups.csv',encoding='cp1252')

:

:

In [ ]:
df_REC_database.head(3)

,Status,Owner,Accreditation_Code,Fuel_Source_Active,Fuel_Source_Type,Fuel_Source_Display_Name,Generation_Year,Status.1,Start_Serial,End_Serial,State,Owner_Name,Creation_Year,Range_ID,Creation_Date,Public_Registered_Person_ID,Created_By
0,Completed,Ashley Noon T/A Green Wiring,PVD2393168,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Registered,1.0,105.0,WA,Ashley Noon T/A Green Wiring,2016,5404590,2016-01-23T22:57:31.958Z,10412,Ashley Noon T/A Green Wiring
1,Completed,Solargain PV Pty Ltd,PVD2393190,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Invalid due to audit,1.0,64.0,ACT,Solargain PV Pty Ltd,2016,5404628,2016-01-24T12:41:03.187Z,10894,Solargain PV Pty Ltd
2,Completed,Home Comfort and Sustainability Services Pty L...,PVD2393171,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Invalid due to audit,1.0,126.0,QLD,Home Comfort and Sustainability Services Pty L...,2016,5404633,2016-01-24T05:15:46.922Z,18516,Home Comfort and Sustainability Services Pty L...

In [ ]:
# How many rows?
df_REC_database.shape

(7190252, 17)

In [ ]:
# variable types
df_REC_database.dtypes

Status                          object
Owner                           object
Accreditation_Code              object
Fuel_Source_Active                bool
Fuel_Source_Type                object
Fuel_Source_Display_Name        object
Generation_Year                  int64
Status.1                        object
Start_Serial                   float64
End_Serial                     float64
State                           object
Owner_Name                      object
Creation_Year                    int64
Range_ID                         int64
Creation_Date                   object
Public_Registered_Person_ID      int64
Created_By                      object
dtype: object

In [ ]:
# convert CreatedDate to datetime
df_REC_database['Creation_Date'] = pd.to_datetime(df_REC_database['Creation_Date'])
# get month from Creation_Date
df_REC_database['Creation_Month'] = df_REC_database['Creation_Date'].dt.month
# get year from Creation_Date
df_REC_database['Creation_Year'] = df_REC_database['Creation_Date'].dt.year
# get date from Creation_Date
df_REC_database['Creation_Date_simple'] = df_REC_database['Creation_Date'].dt.date

In [ ]:
df_REC_database.head(3)

,Status,Owner,Accreditation_Code,Fuel_Source_Active,Fuel_Source_Type,Fuel_Source_Display_Name,Generation_Year,Status.1,Start_Serial,End_Serial,State,Owner_Name,Creation_Year,Range_ID,Creation_Date,Public_Registered_Person_ID,Created_By,Creation_Month,Creation_Date_simple
0,Completed,Ashley Noon T/A Green Wiring,PVD2393168,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Registered,1.0,105.0,WA,Ashley Noon T/A Green Wiring,2016,5404590,2016-01-23 22:57:31.958000+00:00,10412,Ashley Noon T/A Green Wiring,1,2016-01-23
1,Completed,Solargain PV Pty Ltd,PVD2393190,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Invalid due to audit,1.0,64.0,ACT,Solargain PV Pty Ltd,2016,5404628,2016-01-24 12:41:03.187000+00:00,10894,Solargain PV Pty Ltd,1,2016-01-24
2,Completed,Home Comfort and Sustainability Services Pty L...,PVD2393171,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Invalid due to audit,1.0,126.0,QLD,Home Comfort and Sustainability Services Pty L...,2016,5404633,2016-01-24 05:15:46.922000+00:00,18516,Home Comfort and Sustainability Services Pty L...,1,2016-01-24

In [ ]:
df_REC_database['number_of_certificates'] = df_REC_database['End_Serial'] - df_REC_database['Start_Serial'] + 1

In [ ]:
df_REC_database.head(3)

,Status,Owner,Accreditation_Code,Fuel_Source_Active,Fuel_Source_Type,Fuel_Source_Display_Name,Generation_Year,Status.1,Start_Serial,End_Serial,State,Owner_Name,Creation_Year,Range_ID,Creation_Date,Public_Registered_Person_ID,Created_By,Creation_Month,Creation_Date_simple,number_of_certificates
0,Completed,Ashley Noon T/A Green Wiring,PVD2393168,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Registered,1.0,105.0,WA,Ashley Noon T/A Green Wiring,2016,5404590,2016-01-23 22:57:31.958000+00:00,10412,Ashley Noon T/A Green Wiring,1,2016-01-23,105.0
1,Completed,Solargain PV Pty Ltd,PVD2393190,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Invalid due to audit,1.0,64.0,ACT,Solargain PV Pty Ltd,2016,5404628,2016-01-24 12:41:03.187000+00:00,10894,Solargain PV Pty Ltd,1,2016-01-24,64.0
2,Completed,Home Comfort and Sustainability Services Pty L...,PVD2393171,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Invalid due to audit,1.0,126.0,QLD,Home Comfort and Sustainability Services Pty L...,2016,5404633,2016-01-24 05:15:46.922000+00:00,18516,Home Comfort and Sustainability Services Pty L...,1,2016-01-24,126.0

In [ ]:
df_postcode_to_zone_mapping = pd.read_csv('data/postcode_to_zone_mapping.csv',encoding='cp1252')
df_australian_postcodes = pd.read_excel('data/australian_postcodes.xlsx')

In [ ]:
df_postcode_to_zone_mapping.head(3)

   Index  postcode_from  postcode_to  zone
0      1              0          799     3
1      2            800          869     2
2      3            870          879     1

In [ ]:
df_australian_postcodes.head(3)

,ID,Postcode,Locality,State,Long,Lat,DC,Type,SA3,SA3 Name,...,MMM 2019,CED,Altitude,Charge Zone,PHN Code,PHN Name,LGA Region,LGA Code,Electorate,Electorate Rating
0,230,200,ANU,ACT,149.11900,-35.277700,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN
1,21820,200,Australian National University,ACT,149.11890,-35.277700,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN
2,232,800,DARWIN,NT,130.83668,-12.458684,NaN,NaN,70101.0,Darwin City,...,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan

In [ ]:
# select only the columns we need
df_australian_postcodes = df_australian_postcodes[['Postcode','State','Lat','Long','LGA Region']]

df_australian_postcodes.dtypes

Postcode        int64
State          object
Lat           float64
Long          float64
LGA Region     object
dtype: object

In [ ]:
# remove Lat values that are 0 or not a correct latitude
df_australian_postcodes = df_australian_postcodes[(df_australian_postcodes['Lat'] != 0) & (df_australian_postcodes['Lat'] < 0)]

In [ ]:
# group by postcode and average the lat and long, get first state and first LGA Reion
df_australian_postcodes = df_australian_postcodes.groupby(['Postcode']).aggregate({
    'State':'first',
    'Lat': 'mean',
    'Long':'mean',
    'LGA Region':'first'
    })

In [ ]:
df_australian_postcodes.head(5)

         State        Lat        Long                  LGA Region
Postcode
200        ACT -35.277700  149.118950          Unincorporated ACT
800         NT -12.458684  130.836680  Darwin Waterfront Precinct
801         NT -12.458684  130.836680  Darwin Waterfront Precinct
804         NT -12.428017  130.873315                      Darwin
810         NT -12.379804  130.868488                      Darwin

In [ ]:
df_australian_postcodes.shape

(3165, 4)

In [ ]:
# Add zone to df_australian_postcodes

# create new empty dataframe called 'new' with columns 'postcode' and 'zone'
df_australian_postcodes_long = pd.DataFrame(columns=['postcode','zone'])

# loop through df_postcode_to_zone_mapping
for index, row in df_postcode_to_zone_mapping.iterrows():
    # loop through range of postcodes
    for x in range(row['postcode_from'], row['postcode_to']+1):
        # concatenate postcode and zone to new dataframe using pd.concat
        df_australian_postcodes_long = pd.concat([df_australian_postcodes_long, pd.DataFrame([[x, row['zone']]], columns=['postcode','zone'])])

In [ ]:
df_australian_postcodes_long.shape

(10000, 2)

In [ ]:
df_australian_postcodes_long.iloc[2500:2505,]

  postcode zone
0     2500    3
0     2501    3
0     2502    3
0     2503    3
0     2504    3

In [ ]:
# merge df_australian_postcodes_long with df_australian_postcodes
# rename Postcode to postcode
df_australian_postcodes = df_australian_postcodes.reset_index().rename(columns={'Postcode':'postcode'})

df_australian_postcodes = pd.merge(df_australian_postcodes, df_australian_postcodes_long , how='left', on='postcode')

In [ ]:
df_australian_postcodes.isnull().sum()

postcode      0
State         0
Lat           0
Long          0
LGA Region    0
zone          0
dtype: int64

In [ ]:
df_australian_postcodes.shape

(3165, 6)

In [ ]:
df_australian_postcodes.head(5)

  postcode State        Lat        Long                  LGA Region zone
0      200   ACT -35.277700  149.118950          Unincorporated ACT    3
1      800    NT -12.458684  130.836680  Darwin Waterfront Precinct    2
2      801    NT -12.458684  130.836680  Darwin Waterfront Precinct    2
3      804    NT -12.428017  130.873315                      Darwin    2
4      810    NT -12.379804  130.868488                      Darwin    2

In [ ]:
df_australian_postcodes_summary = df_australian_postcodes.groupby(['State','zone']).aggregate({
    'postcode':'count'
    })

df_australian_postcodes_summary = df_australian_postcodes_summary.reset_index()
df_australian_postcodes_summary = df_australian_postcodes_summary.pivot_table(index='State', columns='zone', values='postcode', fill_value=0).reset_index()
df_australian_postcodes_summary['total'] = df_australian_postcodes_summary[1] + df_australian_postcodes_summary[2] + df_australian_postcodes_summary[3] + df_australian_postcodes_summary[4]
df_australian_postcodes_summary['max'] = df_australian_postcodes_summary[[1,2,3,4]].max(axis=1)
df_australian_postcodes_summary['max_number'] = df_australian_postcodes_summary[[1,2,3,4]].idxmax(axis=1)
df_australian_postcodes_summary['percentage'] = round(df_australian_postcodes_summary['max'] / df_australian_postcodes_summary['total'] * 100,1)
# drop max
df_australian_postcodes_summary = df_australian_postcodes_summary.drop(columns=['max'])
df_australian_postcodes_summary

zone State   1   2    3    4  total  max_number  percentage
0      ACT   0   0   30    0     30           3       100.0
1      NSW   0  39  861   12    912           3        94.4
2       NT   6  43    0    0     49           2        87.8
3      QLD   9  41  410    0    460           3        89.1
4       SA   3  23  309   13    348           3        88.8
5      TAS   0   0    0  120    120           4       100.0
6      VIC   0   0  109  636    745           4        85.4
7       WA  26  60  368   47    501           3        73.5

In [ ]:
df_australian_postcodes_summary_clean = df_australian_postcodes_summary.rename(columns={
    1:'Zone 1',
    2:'Zone 2',
    3:'Zone 3',
    4:'Zone 4',
    'max_number':'Dominent zone',
    'total':'Total unqiue postcodes',
    'percentage':'Confience in dominent zone'
    })


df_australian_postcodes_summary_clean = df_australian_postcodes_summary_clean.rename_axis('index', axis=1)
df_australian_postcodes_summary_clean['Confience in dominent zone'] = df_australian_postcodes_summary_clean['Confience in dominent zone'].astype(str) + '%'
df_australian_postcodes_summary_clean

index,State,Zone 1,Zone 2,Zone 3,Zone 4,Total unqiue postcodes,Dominent zone,Confience in dominent zone
0,ACT,0,0,30,0,30,3,100.0%
1,NSW,0,39,861,12,912,3,94.4%
2,NT,6,43,0,0,49,2,87.8%
3,QLD,9,41,410,0,460,3,89.1%
4,SA,3,23,309,13,348,3,88.8%
5,TAS,0,0,0,120,120,4,100.0%
6,VIC,0,0,109,636,745,4,85.4%
7,WA,26,60,368,47,501,3,73.5%

In [ ]:
# create bew df 'df_final_mapping_table ' which is df_australian_postcodes_summary_clean with only 'State' and Dominent zone'
df_final_mapping_table = df_australian_postcodes_summary_clean[['State','Dominent zone']]
df_final_mapping_table

index State  Dominent zone
0       ACT              3
1       NSW              3
2        NT              2
3       QLD              3
4        SA              3
5       TAS              4
6       VIC              4
7        WA              3

In [ ]:
# merge df_REC_database with df_australian_postcodes_summary_clean on State
df_REC_database = pd.merge(df_REC_database, df_final_mapping_table, how='left', on='State')
df_REC_database.head(3)

,Status,Owner,Accreditation_Code,Fuel_Source_Active,Fuel_Source_Type,Fuel_Source_Display_Name,Generation_Year,Status.1,Start_Serial,End_Serial,...,Owner_Name,Creation_Year,Range_ID,Creation_Date,Public_Registered_Person_ID,Created_By,Creation_Month,Creation_Date_simple,number_of_certificates,Dominent zone
0,Completed,Ashley Noon T/A Green Wiring,PVD2393168,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Registered,1.0,105.0,...,Ashley Noon T/A Green Wiring,2016,5404590,2016-01-23 22:57:31.958000+00:00,10412,Ashley Noon T/A Green Wiring,1,2016-01-23,105.0,3
1,Completed,Solargain PV Pty Ltd,PVD2393190,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Invalid due to audit,1.0,64.0,...,Solargain PV Pty Ltd,2016,5404628,2016-01-24 12:41:03.187000+00:00,10894,Solargain PV Pty Ltd,1,2016-01-24,64.0,3
2,Completed,Home Comfort and Sustainability Services Pty L...,PVD2393171,True,SGU_SOLAR_DEEMED,S.G.U. - solar (deemed),2015,Invalid due to audit,1.0,126.0,...,Home Comfort and Sustainability Services Pty L...,2016,5404633,2016-01-24 05:15:46.922000+00:00,18516,Home Comfort and Sustainability Services Pty L...,1,2016-01-24,126.0,3

In [ ]:
def calculate_system_size(number_of_STCs,zone,installation_year):
    zone_ratings = {
        1 : 1.622,
        2 : 1.536,
        3 : 1.382,
        4 : 1.185
    }
    deeming_years = {
        '2016' : 15,
        '2017' : 14,
        '2018' : 13,
        '2019' : 12,
        '2020' : 11,
        '2021' : 10,
        '2022' : 9,
        '2023' : 8,
        '2024' : 7,
        '2025' : 6,
        '2026' : 5,
        '2027' : 4,
        '2028' : 3,
        '2029' : 2,
        '2030' : 1
    }

    return number_of_STCs / zone_ratings[zone] / deeming_years[installation_year]

In [ ]:
# filter df_REC_database by Feul_source_type = 'SGU_SOLAR_DEEMED'
df_REC_database = df_REC_database[df_REC_database['Fuel_Source_Type'] == 'SGU_SOLAR_DEEMED']

df_REC_database

MemoryError: Unable to allocate 56.7 MiB for an array with shape (2, 3713598) and data type float64

MemoryError: Unable to allocate 170. MiB for an array with shape (6, 3713598) and data type object